/* General */
body {
    margin: 0 auto;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.description {
    font-size: 18px;
    text-align: center;
}

/* Nav */
#navbar {
    min-width: 100vw;
    height: 60px;
    margin-left: 10px;
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.nav {
    color: black;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

/* Entity Forms & Tables */
.add-entity {
    width: 300px;
    line-height: 25px;
    font-size: 16px;
    margin: auto;
    margin-bottom: 30px;
}

.entity-table {
    margin: auto;
    border-collapse: collapse;
}
.entity-table th, td {
    padding: 10px;
    border: 1px solid grey;
}

.entity-table tr:nth-child(even) {
    background-color: #cecece;
}